ul {
    position: absolute;
    max-width: 108vh;
    max-height: 100%;
    border-radius: 5px;
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 52px;
    text-decoration: none;
    font-size: 29.5px;
    line-height: 29.5px;
    transition: font-size, 0.5s;
}

a {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


p, h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

h1 {
    font-size: 100%;
    animation-name: titleAnimacio;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

p, li.validList {
    opacity: 0;
    font-size: 115%;
    animation-name: textAnimacio;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.main {
    width: 60%;
    height: 925px;
    border-radius: 10px;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.tartalom {
    position: absolute;
    top: 125px;
    min-width: 55%;
    min-height: 80%;
    margin: 2%;
    border-radius: 5px;
}

body {
    background-repeat: no-repeat;
}

td {
    text-align: center;
    font-size: 50px;
}

th {
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}